.container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    margin-top: 90px;
    margin-bottom: 40px;
}

/*환영합니다*/
.container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #331904;
    margin-top: -3%;
}

.container-fluid > div:nth-child(2) > div:nth-child(1) {   /*이메일*/
    text-align: left;
    font-size: 14px;
    color: #331904;
    margin-top: 3%;
}