.navBorder {
  border-bottom: 1px solid #984C0C;
}
.row {
  display: flex;
  align-items: center;
  height: 56px;
}
.row a:link {
  text-decoration: none;
  color: #331904;
}
.row a:hover { color: #fd7e14; }
.row a:visited { color: #331904; }
.row a:active { color: #fd7e14; }


footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid #984C0C;
  color: #984C0C;
}
footer p {
  margin-top: 10px;
}
